<div class="main quiz-main">
  <div class="quiz-message">
    <h2>関連するのはどっち</h2>
  </div>
  <div class="quiz-img">
    <p class="left"><%= link_to image_tag('/quiz/youhuku.jpg'), '/quiz/que2' %></p>
    <p class="right"><%= link_to image_tag('/quiz/aoki.jpg'), '/quiz/que1' %></p>
  </div>
</div>
