<div class="mainn quiz-main">
  <div class="quiz-message">
    <h2>関連するのはどっち</h2>
  </div>
  <div class="quiz-img">
    <p class="left"><%= link_to image_tag('/quiz/hasebe.jpg'), '/quiz/que3' %></p>
    <p class="right"><%= link_to image_tag('/quiz/toshihiro.jpg'), '/quiz/que4' %></p>
  </div>
</div>
