<div class="main quiz-main">
  <div class="quiz-message">
    <h2>関連するのはどっち</h2>
  </div>
  <div class="quiz-img">
    <p class="left"><%= link_to image_tag('/quiz/teruma.jpg'), '/quiz/que5' %></p>
    <p class="right"><%= link_to image_tag('/quiz/misia.jpg'), '/quiz/que4' %></p>
  </div>
</div>
