<div class="main top-main">
  <div class="top-message">
    <h2>このアプリの製作者に関する</h2>
    <h2>クイズにお答えください</h2>
    <p>ヒント：青野ではありません</p>
    <h3><a href="/quiz/que1" class="btn signup">スタート</a></h3>
  </div>
</div>
