<div class="about-main">
  <h2>MIRAIとは</h2>
  <h3><a href="http://quando.jp/" target="_blank">株式会社クアンド</a>の入社試験用に初めて自作したアプリ</h3>
  <p>アプリの構造自体に目新しいもんはないけみんなのアイディアで価値あるもんにして欲しい</p>
  <div class="about-img">
    <img src="/about/about1.png">
    <img src="/about/about2.png">
    <img src="/about/about3.png">
  </div>
  <div class="about-img">
    <img src="/about/about4.png">
    <img src="/about/about5.png">
    <img src="/about/about6.png">
  </div>
</div>
