<div class="main top-main">
  <div class="top-message">
    <h2>君のアイディアが形になる</h2>
    <p>こんなアプリがあったらいいなを共有しよう</p>
    <%= video_tag "/videos/ryo.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
    <br/>
    <%= link_to("中野CTOはこちら", "/quiz/top", class:"link",  :style=>"font-size: 12px;") %>
  </div>
</div>
